@import './base/base.scss';
@import './base/variants.scss';

.main {
    display: grid;
    grid-template-columns: var(--leftbar-width) 1fr 0;


    // 定义动画
    @keyframes waver-left {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(-16px);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes waver-right {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(16px);
        }

        100% {
            transform: translateX(0);
        }
    }


    .left_container {
        width: var(--leftbar-width);
        height: 100vh;
        overflow: overlay;
        background-color: var(--theme-color-grey-100);

        .sticky_box {
            position: sticky;
            top: 0;
            background-color: var(--theme-color-grey-100);

            .logo_container {
                padding: 34px 0 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 124px;
                    height: 34px;
                }
            }

            .list_item {
                height: 36px;
                margin: 2px 12px 2px 12px;
                padding: 0 12px 0 24px;
                border-radius: 8px;
                background-color: var(--theme-color-grey-500);
            }

            .list_hr {
                padding: 5px 10px;
            }
        }

        .menu_box {
            .menu_item {
                height: 72px;
                margin: 2px 12px 2px 12px;
                padding: 0 12px 0 18px;
                border-radius: 8px;
                background-color: var(--theme-color-grey-500);
            }
        }
    }

    .middle_container {
        width: 100%;
        background-color: var(--theme-color-grey-100);

        .content_container {

            height: 100%;

            .header_sticky {
                width: calc(100vw - 240px);
                height: 100px;
                position: sticky;
                top: 0;
                background-color: var(--theme-color-grey-100);
            }
            
            .dashboard_container {

                .hot-resources {
                    width: calc(100vw - 360px);
                    position: relative;
                    background: var(--theme-color-grey-500);
                    border-radius: 12px;
                    margin: 2px 35px;
                    padding: 20px 24px;
                    

                    .look_more {
                        position: absolute;
                        top: 18px;
                        right: 20px;
                        color: var(--color-blue-700);
                    }

                    .resource-item-container {
                        position: relative;

                        .resource-item-wrapper {
                            white-space: nowrap;
                            overflow: auto;
                            font-size: 0;
                            letter-spacing: -3px;
                            
                            .resource-item {
                                display: inline-block;
                                width: 20%;                             // %参考父级的宽度。
                                padding-bottom: calc(0.2 * 55.7%);      // %参考最近的块级元素的宽度，0.2先计算本元素宽度，55.7%是高宽比。
                                background: left center/cover no-repeat;
                                background-image: url("https://cms-resource.mastergo.com/Arco_Design_Pro_2_0_762c50f693.png");
                                animation: 2s infinite waver-left;
                                margin-right: 12px;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }

                            &::-webkit-scrollbar {
                                display: none;
                            }
                        }

                        .mask {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 10%;
                            padding-bottom: calc(0.2 * 55.7%);
                            background:linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
                        }

                        .slide_more {
                            height: 100%;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            top: 0;
                            right: 32px;
                            font-size: 1em;
                            color: #fff;
                            animation: 2s infinite waver-right;
                            .text {
                                writing-mode: vertical-lr;
                            }
                        }
                        
                    }

                    
                    
                    
                }
            }
        }
    }
}