.pink{
    width: 200px;
    height: 200px;
    background-color: lightpink;
}

#react{
    height: 200px;
    background: url(./react.png) no-repeat;
}

#vue{
    height: 200px;
    background: url(./vue.svg) no-repeat;
}

#node{
    height: 200px;
    background: url(./node.jpeg) no-repeat;
}